 * {
   box-sizing: border-box;
   margin: 0;
   font-family: $alata;
 }

 h1,
 h2,
 h3 {
   margin: 0;
   font-family: $josefinSans;
   font-weight: 300;
 }


 .w-100 {
   width: 100%;
 }



 img {
   width: 100%;
 }